node_modules
.idea
/src-rx/.eslintcache
/src-rx/.cache
www
.i18n-editor-metadata
nbproject
src/i18n/*/flat.txt
src/i18n/flat.txt
admin/i18n/*/flat.txt
admin/i18n/flat.txt
admin/words.js
src/js/words.js
.vscode
/src-rx/build
/www-react
/src-rx/package-lock.json
/package-lock.json
/src-rx/.eslintcache
/src-admin/package-lock.json
