node_modules
.idea
.nx
**/src/.eslintcache
**/src/.cache
tmp/
*.tgz
.i18n-editor-metadata
nbproject
admin/i18n/*/flat.txt
admin/i18n/flat.txt
admin/words.js
.vscode
/lib/ws.js
/lib/socketCommon.js
/lib/socketCommands.js
/lib/socketAdmin.js
/lib/socketCommandsAdmin.js
/lib/passportSocket.js
**/build
packages/admin/src-admin/package-lock.json
packages/admin/package-lock.json
**/src/public_aes
**/src/public/js/adapter-settings-aes.js
testSentry.bat
**/adminWww/

# ioBroker dev-server
.dev-server/

# Lerna
lerna-debug.log

packages/admin/build-backend
/packages/admin/admin/custom/
packages/admin/README.md
