node_modules
.idea
**/src/.eslintcache
**/src/.cache
tmp/
*.tgz
.i18n-editor-metadata
nbproject
admin/i18n/*/flat.txt
admin/i18n/flat.txt
admin/words.js
.vscode
**/build
src-admin/package-lock.json
**/src/public_aes
**/src/public/js/adapter-settings-aes.js
testSentry.bat
**/adminWww/

# ioBroker dev-server
.dev-server/

build-backend
/admin/custom/
README.md

#ignore .commitinfo created by ioBroker release script
.commitinfo
/src-admin/.__mf__temp/
