/**/*
/gulpfile.js
gulpfile.js
!/admin/**/*
!/admin/*
!/lib/**/*
!/lib/*
!/docs/*
!/docs/**/*
!/www/*
!/www/**/*
!/www-react/*
!/www-react/**/*
!/io-package.json
!/package.json
!/LICENSE
!/main.js
!/README.md
