os:
  - linux
  - osx
  - windows
language: node_js
node_js:
  - '6'
  - '8'
  - '10'
before_script:
  - export NPMVERSION=$(echo "$($(which npm) -v)"|cut -c1)
  - 'if [[ $NPMVERSION == 5 ]]; then npm install -g npm@5; fi'
  - npm -v
env:
  - CXX=g++-4.9
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.9
after_success:
  - 'bash <(curl -s https://copilot.blackducksoftware.com/ci/travis/scripts/upload)'
script:
  - 'npm run test:package'
  - 'npm run test:unit'
  - 'npm run test:integration'
