#diagSample {
    background: #fff;
}

#tabs-system, #diagSample {
    overflow: auto;
}

.m pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.drop-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px dashed transparent;
    margin-top: 5px;
    height: calc(100% - 10px)
}

.drop-container:focus {
    outline: none;
}

.drop-dop {
    background-color: #FFFFFF40;
    border: 5px dashed #000000A0;
    z-index: 100;
}

.drop-container input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.tables {
    width: 33.3%;
}

.dialog-setting {
    width: 100% !important;
    height: 100% !important;
    max-width: calc(100% - 64px) !important;
    -webkit-transition: all 400ms ease-out !important;
    -moz-transition: all 400ms ease-out !important;
    -ms-transition: all 400ms ease-out !important;
    -o-transition: all 400ms ease-out !important;
    transition: all 400ms ease-out !important;
}

.dialogName {
    white-space: nowrap;
    font-size: 1.1rem !important;
    padding-right: 10px;
}

.float_row {
    display: flex !important;
}

tbody > .float_row:nth-of-type(2n+1) {
    background-color: #00000008;
}

.float_cell {
    display: table-cell;
}

.grow_cell {
    flex-grow: 100;
}

.small_size {
    width: 40px !important;
    height: 40px !important;
    min-width: 40px !important;
    min-height: 40px !important;
    max-width: 40px !important;
    max-height: 40px !important;
}
@media screen and (max-width: 993px) {
    .sendData-grid {
        height: calc(100% - 1rem);
    }

    #diagSample {
        height: calc(100% - 6rem);
    }

    .dialog-setting {
        width: 100% !important;
        height: 100% !important;
        max-width: calc(100% - 64px) !important;
    }
}

@media (max-width: 760px) {
    .tables {
        width: 50%;
    }

    .dialog-setting {
        width: 100% !important;
        height: 100% !important;
        max-width: calc(100% - 64px) !important;
    }

    .float_row {
        display: flex !important;
        flex-direction: column;
        margin-bottom: 30px;
        border-bottom: 5px solid #00000029;
    }

    .float_cell {
        display: block !important;
        width: 100% !important;
        text-align: center !important;
    }
}

@media (max-width: 540px) {
    tables {
        width: 100%;
    }

    .dialog-setting {
        width: 100% !important;
        height: 100% !important;
        max-width: 100% !important;
        max-height: 100% !important;
        margin: 0 !important;
    }

    .dialogName {
        font-size: .7rem !important;
    }

    .float_row {
        display: flex !important;
        flex-direction: column;
        margin-bottom: 30px;
        border-bottom: 5px solid #00000029;
    }

    .float_cell {
        display: block !important;
        width: 100% !important;
        text-align: center !important;
    }

    .xs-centered {
        text-align: center !important;
    }

    .xs-centered input {
        text-align: center !important;
    }
}

@media (max-width: 420px) {
    .tables {
        width: 100%;
    }

    .dialog-setting {
        width: 100% !important;
        height: 100% !important;
        max-width: 100% !important;
        max-height: 100% !important;
        margin: 0 !important;
    }

    .dialogName {
        font-size: .7rem !important;
    }

    .float_row {
        display: flex !important;
        flex-direction: column;
        margin-bottom: 30px;
        border-bottom: 5px solid #00000029;
    }

    .float_cell {
        display: block !important;
        width: 100% !important;
        text-align: center !important;
    }

    .xs-centered {
        text-align: center !important;
    }

    .xs-centered input {
        text-align: center !important;
    }
}