// @import "../lib/css/iob/selectID";
@import "commons";
/** hosts tab **********************/
/**/

#tab-hosts {
    // todo combine it with other tabs
    .main-toolbar-table {
        margin-left: 0.3rem;
        &>div {
            display: inline-block
        }
        a.btn-small {
            line-height: @admin-small-buttons-size;
            height: @admin-small-buttons-size;
            width: @admin-small-buttons-size;
            i {
                margin-left:    -0.5px;
                font-size:      1.1rem;
                line-height:    @admin-small-buttons-size;
            }
        }

        .filter-input {
            display:        inline-table;
            padding-left:   6px;
            margin-left:    20px;
            font-size:      14px;
            height:         24px;
            width:          10rem;
        }

        .filter-clear {
            width:          18px;
            height:         18px;
            border:         0;
            i {
                font-size:  0.8rem;
                line-height: 1.2rem;
            }
        }

        .main-toolbar-table-types-tools {
            display: inline-block;
        }
    }
    .hosts-table {
        //.new-iob-list-table;
        // font-size: @list-font-size !important;
        font-weight: normal;
        font-family: @iob-font;

        background:         @iob-background !important;
        white-space:        nowrap;
        table-layout:       fixed;
        border-collapse:    collapse;
        border-spacing:     0;
        padding:            0;
        margin:             0;
        overflow:           auto;


        font-size: 0.9em;

        .hosts-led {
            margin-left: 0.8rem;
        }
        .tab-hosts-header-led {
            width: 4rem;
        }
        .tab-hosts-header-type {
            width: 6rem;
        }
        .tab-hosts-header-title {
            width: 8rem;
        }
        .tab-hosts-header-os {
            width: 6rem;
        }
        .tab-hosts-header-available {
            width: 8rem;
        }
        .tab-hosts-header-installed {
            width: 8rem;
        }
        .tab-hosts-header-events {
            width: 6rem;
        }
        .updateReady {
            font-weight: bold;
            color: #06960E !important;
        }

        .grid-hosts > tr:nth-child(2n) {
            background-color: @even-bg-color;
         }

        th, td, tr, td {
            border: @td-border;
            padding: 0 0.5rem 0 0.5rem;
        }
        &>tbody>tr>td>b {
            font-weight: normal;
            color: #008;
        }
        th {
            padding-left: @line-indent;
        }
        &>tbody>tr {
            height: 35px;
            border: 0;
        }
        /*&>tbody>tr>td {
            padding: 0;
        }*/
    }
    .small-button-empty, .small-button {
        width:      24px;
        margin:     0 1px 0 0;
        display:    inline-block;
        position:   relative;
        z-index:    1;
        border:     0;
    }
    .small-button {
        height:     24px;
        background: @tiles-tile-background;
        color:      @admin-sidemenu-main-items-color;
        padding:    1px 0 0 0;
        cursor:     pointer;
        i {
            //font-size: 14px;
        }
        &:hover {
            background: @main-active-color;
            color: @admin-sidemenu-color;
        }
        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }
}
