@import "commons";
#tab-objects {
    .custom-enabled {
      background: @main-background-color;//rgb(151, 191, 255) !important;
    }
    .custom-disabled {

    }
}

#dialog-new-object {
  .title {
      background: @main-background-color;
      color:      @admin-buttons-background;
      padding:    0.5rem;
  }
  .row, .col {
    position: relative;
  }
  .select-wrapper + label {
    top: 100%;
  }
}
