@import "commons";
// @import "../lib/css/iob/selectID";

#tab-events {
    #event-clear {
        //.iob-font
        font-family: @iob-font;
        font-weight: normal;
    }
    table#events {
        font-size: 12px;
    }
    #event-table>tr {
        height: 24px;
        &:nth-child(even){
            /*background: #efefef;*/
            background-color: @even-bg-color;
        }
        &>td {
            box-sizing: border-box;
            text-align: left !important;
            padding-left: @line-indent !important;
            border: @td-border;
            &:first-child {
                color: #0000a0;
            }
        }
        &.log-severity-debug {
            color: #808080;
        }
        &.log-severity-info {
            color: black;
            /*background-color: #0ca3d2;*/
        }
        &.log-severity-warn {
            color: #ce9900;
        }
        &.log-severity-error {
            color: red;
        }
    }
    /** events tab ******************/
    /**/

    #event-outer {
        border-collapse: collapse;
    }
    #event-outer>thead>tr, #event-outer>thead>tr>th  {
        //.th-0;
        height: 0 !important;
        padding: 0;
        border: 0;
    }

    #events_threshold {
        position: fixed;
        top: 8px;
        left: calc(~'100% - 300px');
        height: 18px;
        background: #ff9999;
        color: white;
        border: 1px solid;
        border-radius: 5px;
        text-align: center;
        font-size: 14px;
        font-family: Arial;
        width: 150px;
        padding-top: 4px;
        cursor: pointer;
    }

    .events-list-table {
        border:0;
        overflow: auto;
        font-size: @list-font-size !important;
        font-weight: normal !important;
        color: #000 !important;

        width: calc(~'100% - 1px');
        margin-left:1px; /* for mouse over rahmen */
        background: #efefef !important;
    }

    table.events-list-table > tbody > tr {
        height: 25px;
    }

    table.events-list-table>tbody>tr>td {
        padding: 0;
        margin: 0;
        padding-left: 5px;
        border: @td-border;
    }
    #grid-events-inner {
        height: calc(~"100% - 35px");
        width: 100%;
        overflow-y: scroll;
    }
    a.btn-small {
        line-height: @admin-small-buttons-size;
        height: @admin-small-buttons-size;
        width: @admin-small-buttons-size;
        i {
            margin-left:    -0.5px;
            font-size:      1.1rem;
            line-height:    @admin-small-buttons-size;
        }
    }
    .btn-pause {
        width: 3em !important;
        border-radius: 25px !important;
        margin-right: 3px;
    }
    .btn-pause-button-active {
        color: black;
        text-align: center;
    }
    .no-cloud-events {
        text-align: center;
        padding-top: 2rem;
        font-size: 2rem;
        font-style: italic;
    }

}
