@import "commons";
#dialog-issue {
  iframe {
    border:0 solid #FFF;
    display:block;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
  }
  .col {
    padding: 0 !important;
  }
  .row-title {
    margin-bottom: 0 !important;
  }
  .row.iframe {
    height: 100%;
    .col {
      height: 100%;
    }
  }
  .title {
    margin: 0;
    background: @main-active-color;
    color: white;
    letter-spacing: .5px;
    padding: 0.5rem;
  }
}