@import "commons";
#tab-enums {
  .tab-enums-list,
  .tab-enums-objects {
    display:  inline-block;
    height:   100%;
    transition: width @admin-sidemenu-transition;
  }
  .tree-table-main  {
    .tab-accept-item {
      background: @admin-buttons-color !important;
      font-weight: bold;
      color: white;
    }
  }
  .treetable-icon {
    width: 32px;
    max-height: 32px;
  }
  .tab-enums-objects {
    display:  none;
    .loader {
      width: calc(~"100% - 50px");
      text-align: center;
      .spinner {
        animation: rotator @duration linear infinite;
      }

      .path {
        stroke-dasharray: @offset;
        stroke-dashoffset: 0;
        transform-origin: center;
        stroke: #4285F4;
        animation: dash @duration ease-in-out infinite;
        //colors (@duration*4) ease-in-out infinite;
      }
    }
  }
  .tab-enums-list {
    width:    100%;
    overflow: hidden;
    .tree-table-buttons a {
      margin-right: 5px;
    }
    line-height: 1.5rem;
    .collection {
      overflow: auto;
      .edit-content,
      .delete-content {
        position: absolute;
        bottom: 16px;
        float: right;
        color: @admin-buttons-color;
        text-decoration: none;
        cursor: pointer;
      }
      .edit-content {
        right: 48px;
      }
      .delete-content {
        right: 16px;
      }
      .secondary-content {
        cursor: pointer;
        color: @admin-buttons-color;
      }
      .edit-content.disabled,
      .delete-content.disabled,
      .secondary-content.disabled {
        color: darkgray;
        cursor: inherit;
      }
      .collection-item {
        //margin-bottom: 1rem;
        &>img.circle {
          border-radius: 0;
        }
      }
      .chip {
        position: relative;
        .chip-id {
          position: absolute;
          bottom: -11px;
          left: 40px;
          font-size: 10px;
        }
      }
      .tab-accept-item {
        background: repeating-linear-gradient(
                135deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2) 10px,
                rgba(0, 0, 0, 0.3) 10px,
                rgba(0, 0, 0, 0.3) 20px
        ) !important;
        color: black !important;
      }
    }
  }
  .tab-enums-objects {
    overflow: hidden;
    .main-toolbar-table {
      height: 41px;
    }
    /*.grid-main-wob-div {
      height: calc(~"100% - 72px");
    }*/
    table.main-header-table>tbody>tr {
      height: 27px!important;
    }
  }

  .modal-content .title {
    margin: 0;
    background: @main-active-color;
    color: white;
    letter-spacing: .5px;
    padding: 0.5rem;
  }

  // blur non-target components while dragging
  &.dragging {
    .tree-table-buttons,
    .tab-enums-objects,
    .enum-buttons {
      opacity: 0.3;
    }
    .collection::after {
      content: "";
      pointer-events: none;
      box-sizing: border-box;
      border: 5px dashed lightblue;
      border-radius: 1rem;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &.tab-enums-edit {
    .tab-enums-list,
    .tab-enums-objects {
      transition: width @admin-sidemenu-transition;
      width:    calc(~"50% - 2px") !important;
      display:  inline-block;
    }
  }
  .fancytree-container {
    [data-nodrag="true"] {
      opacity: 0.5;
    }
  }
  .fancytree-drag-helper {
    padding: 4px;
    background: rgba(80, 80, 80, 0.5);
    border: 1px solid gray;
    border-radius: 2px;
    font-size: larger;
    font-weight: bold;
  }
  .tab-enums-dialog-new-color-icon {
    float: left;
    padding-right: 4px;
  }
  .tab-enums-dialog-new-icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-left: 2em;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .tab-enums-dialog-new-color {
    width: calc(~"100% - 50px");
  }
  .tab-enums-dialog-new-icon-clear,
  .tab-enums-dialog-new-color-clear {
    float: right;
    z-index: 0;
  }
}