@import "commons";
@import "materializeConsts";

#tabs-issue {
    overflow: hidden;
    height: calc(~"100% - "@admin-m-footer-height);
    & > div {
       maring-bottom: 0;
    }
    td {
        padding: 0 5px;
    }
    .title {
        background: @main-active-color;
        color: white;
        letter-spacing: .5px;
        padding: 0.5rem;        
    }
    .collapsible-header {
        font-size: 1.2rem;
        position: relative;
        .category {
            letter-spacing: .5px;
            text-decoration: none;
            text-transform: uppercase;
            position: absolute;
            right: 4rem;
            top: 1rem;
            a {
                border-radius: 100px;
                width: inherit;
                text-align: center;
                padding: 0 1rem;
            }
        }
    }
    .collapsible-body {
        background: whitesmoke;
        position: relative;
        .signature{
            position: absolute;
            right: 4rem;
            .user{
                font-style: italic;
            }
        }
    }
    .page {
        background: #f5f2f0;
        height: 100%;
        padding-top: 1rem;
        padding-left: 1rem;
        overflow: hidden;
        #result-issue {
            width: 100%;
            height: calc(~"100% - "@admin-m-footer-height);
            overflow: auto;
            .col {
                position: relative;
                .select-wrapper + label {
                    top: 100%;
                }
            }
        }
    }

    .loader {
        width: 10%;
        margin-left: 45%;
    }


}

