@import "commons";
@import "materializeConsts";

#tabs-customs {
  overflow: hidden;
  &>.row {
    height: 100%;
  }
  height: calc(~"100% - "@admin-m-footer-height);
  td {
    padding: 0 5px;
  }
  .title {
    background: @main-active-color;
    color: white;
    letter-spacing: .5px;
    padding: 0.5rem;
    .name {
      font-style: italic;
    }
  }
  .collapsible-header {
    font-size: 1.2rem;
    position: relative;
    .activated {
      letter-spacing: .5px;
      text-decoration: none;
      text-transform: uppercase;
      color: @main-active-color;
      position: absolute;
      right: 4rem;
      top: 1rem;
      transition: opacity 1s;
    }
  }
  .collapsible-body {
    background: whitesmoke;
  }
  .page {
    background: #f5f2f0;
    height: calc(~"100% - "@admin-m-footer-height);
    padding-top: 1rem;
    padding-left: 1rem;
    overflow: auto;
  }
  #tab-customs-chart.page, #tab-customs-table.page {
    overflow: hidden;
  }

  #customs-tabs {
    width: 100%;
    .collapsible-header img {
      width: 2rem;
      height: 2rem;
      font-size: 1.6rem;
      display: inline-block;
      text-align: center;
      margin-right: 1rem;
    }
    .col {
      position: relative;
    }
    .input-field {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  #tab-customs-chart, #tab-customs-table {
    overflow: hidden;

    .highlight {
      animation: highlight 2s;
    }
    .grid-history-head {
      visibility: hidden;
      height: 0 !important;
      //background: #f00; // only for debug
      th {
        height: 0!important;
        padding: 0;
        border: 0;
      }
    }
    #grid-history-body {
      td {
        padding-left: 8px !important;
      }
    }
    #grid-history-inner {
      overflow: auto;
      height: calc(~"100% - 20px");
      width: 100%;
    }

    .row {
      position: relative;
      &.body {
        overflow: hidden;
        width: 100%;
      }
    }
    .select-wrapper + label {
      top: -10px;
    }
    // materialize bug
    .select-wrapper select {
      display: none !important;
    }
    .no-margin-below {
      margin-bottom: 0;
    }
    .select-instance-div {
      position: relative;
    }
    .select-wrapper+label{
      top: calc(~"100% - 10px");
    }
  }

  #tab-customs-table {
    .body {
      height: calc(~"100% - "@admin-toolbar-height~" - 75px");
      margin-bottom: 0;
    }
    #grid-history {
      thead tr, thead th {
        background: @admin-table-header-background;
      }
      tr:nth-child(even) {
        background: @admin-table-row-even-background;
      }
    }
  }
  #tab-customs-chart {
    .header {
      margin-bottom: 3rem;
    }
    .body {
      height: calc(~"100% - " @admin-toolbar-height~" - 14px");
    }
    iframe {
      border: 0;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  }
}

