@import "commons";
@import "../lib/css/iob/common";
@tab-user-title-height: 2rem;
  /** log tab *******************************/

#tab-users {
 .log-pause-button-active {
      font-size: 14px;
      width: 100% !important;
      text-align: center;
      padding: 0 !important;
      margin: 0 !important;
      padding-right: @line-indent !important;
      padding-left: @line-indent !important;
  }
  .log-pause-button-active:focus {
      background: @toolbar-background !important;
  }

  .log-pause-button-active>span {
      padding:0 !important;
      width: 100%;
      font-weight: normal;
      font-size: 14px;
  }
  /** log end **/

  .tab-users-list-groups,
  .tab-users-list-users {
    width: calc(~"50% - 2px");
    display: inline-block;
    height: 100%;
    .tab-users-header {
      height: @tab-user-title-height;
      display: block;
      span {
        font-size: 1.2rem;
        padding-left: 1rem;
      }
    }
    .tab-users-body {
      height: calc(~"100% - "@tab-user-title-height);
      display: block;
    }
  }
  .tab-users-list-users {
    position: absolute;
    top: 0;
    left: 50%;
    .tab-users-body {
      overflow: auto;
      .edit-content,
      .delete-content {
        position: absolute;
        bottom: 16px;
        float: right;
        color: @admin-buttons-color;
        text-decoration: none;
        cursor: pointer;
      }
      .edit-content {
        right: 48px;
      }
      .delete-content {
        right: 16px;
      }
      .secondary-content {
        cursor: pointer;
        color: @admin-buttons-color;
      }
      .edit-content.disabled,
      .delete-content.disabled,
      .secondary-content.disabled {
          color: darkgray;
          cursor: inherit;
      }
    }
  }
  .tab-users-list-groups {
    .tab-users-body {
      overflow: auto;
      .edit-content,
      .delete-content {
        position: absolute;
        bottom: 16px;
        float: right;
        color: @admin-buttons-color;
        text-decoration: none;
        cursor: pointer;
      }
      .edit-content {
        right: 48px;
      }
      .delete-content {
        right: 16px;
      }
      .secondary-content {
        cursor: pointer;
        color: @admin-buttons-color;
      }
      .edit-content.disabled,
      .delete-content.disabled,
      .secondary-content.disabled {
          color: darkgray;
          cursor: inherit;
      }
    }
  }

  position: relative;

  .users-drag-helper {
    padding: 4px;
    background: rgba(80, 80, 80, 0.5);
    border: 1px solid gray;
    border-radius: 2px;
    font-size: larger;
    font-weight: bold;
  }
  .tab-users-body  {
    .tab-accept-item {
      background: @admin-buttons-color !important;
      color: white;
    }
  }
  // blur non-target components while dragging
  &.dragging {
    .tree-table-buttons,
    .tab-users-header,
    .tab-users-list-users .tab-users-body
    {
      opacity: 0.3;
    }
    .tab-users-list-groups .tab-users-body>ul::after {
      content: "";
      pointer-events: none;
      box-sizing: border-box;
      border: 5px dashed lightblue;
      border-radius: 1rem;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  // copied from materialize
  #toast-container {
    max-width: 86%;
    top: 10%;
    right: 7%;
    display: block;
    position: fixed;
    z-index: 10000;
    box-sizing: inherit;
    .toast {
      border-radius: 2px;
      //top: 35px;
      width: auto;
      margin-top: 10px;
      position: relative;
      max-width: 100%;
      height: auto;
      min-height: 48px;
      line-height: 1.5em;
      word-break: break-all;
      background-color: #323232;
      padding: 10px 25px;
      font-size: 1.1rem;
      font-weight: 300;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: default;
      top: 0;
      opacity: 1;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
  }

  .tab-dialog-new-color-icon {
    float: left;
    padding-right: 4px;
  }
  .tab-dialog-new-icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-left: 2em;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .tab-dialog-new-color {
    width: calc(~"100% - 50px");
  }
  .tab-dialog-new-icon-clear,
  .tab-dialog-new-color-clear {
    float: right;
    z-index: 0;
  }
  #tab-users-dialog-new-rights {
    padding-bottom: 50px;
    .group-titles {
      background: @admin-sidemenu-main-header-background;
      color: @tiles-background;
      font-weight: bold;
    }
    .group-sub-titles {
      font-size: smaller;
    }
  }
}