@import "commons";
@tab-user-title-height: 2rem;

#tab-users {
  .tab-users-list-groups,
  .tab-users-list-users {
    width: calc(~"50% - 2px");
    display: inline-block;
    height: 100%;
    .tab-users-header {
      height: @tab-user-title-height;
      display: block;
      span {
        font-size: 1.2rem;
        padding-left: 1rem;
      }
    }
    .tab-users-body {
      height: calc(~"100% - "@tab-user-title-height);
      display: block;
    }
  }

  position: relative;

  // copied from materialize
  #toast-container {
    max-width: 86%;
    top: 10%;
    right: 7%;
    display: block;
    position: fixed;
    z-index: 10000;
    box-sizing: inherit;
    .toast {
      border-radius: 2px;
      //top: 35px;
      width: auto;
      margin-top: 10px;
      position: relative;
      max-width: 100%;
      height: auto;
      min-height: 48px;
      line-height: 1.5em;
      word-break: break-all;
      background-color: #323232;
      padding: 10px 25px;
      font-size: 1.1rem;
      font-weight: 300;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: default;
      top: 0;
      opacity: 1;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
  }

  .tab-dialog-new-color-icon {
    float: left;
    padding-right: 4px;
  }
  .tab-dialog-new-icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-left: 2em;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .tab-dialog-new-color {
    width: calc(~"100% - 50px");
  }
  .tab-dialog-new-icon-clear,
  .tab-dialog-new-color-clear {
    float: right;
    z-index: 0;
  }
  #tab-users-dialog-new-rights {
    padding-bottom: 50px;
    .group-titles {
      background: @admin-sidemenu-main-header-background;
      color: @tiles-background;
      font-weight: bold;
    }
    .group-sub-titles {
      font-size: smaller;
    }
  }
}