body {
    font-size: 11px;
    margin: 0;
    padding: 0;
    height: 100%;
}

table#events {
    font-size: 12px;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, .ui-state-hover a, .ui-state-hover a:link, .ui-state-hover a:visited  {
    outline: none;
}

.ui-jqgrid tr.jqgrow td {
    font-size: 12px;
}

.ui-jqgrid .ui-pg-input {
    height: 20px !important;
}
#tabs {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;

}

.header {
    height: 29px;
    line-height: 29px;
    font-size: 16px;
    margin-left: 5px !important;
    margin-right: 6px !important;
}

.ui-tabs-nav {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.ui-tabs-panel {
    border: none;
    padding: 8px !important;
}

.ui-jqgrid-titlebar-close {
    display: none !important;
}

#edit-object-common, #edit-object-native {
    font-size: 12px;
    width: 100%;
    height: 240px;
    padding:0;
    margin:0;
    border: 1px solid grey;
    outline: none;
    box-shadow: none;
    resize:none;
}

#edit-script-source {
    font-size: 12px;
    width: 600px;
    height: 240px;
    padding:0;
    margin:0;
    border: 1px solid grey;
    outline: none;
    box-shadow: none;
    resize:none;
}

.menu-button {
    float: right;
    height: 26px;
    margin: 1px 2px 1px 2px;
}

#script-editor {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
}

.event-column-1 {
    width: 10%;
}
.event-column-2 {
    width: 35%;
}
.event-column-3 {
    width: 11%;
}
.event-column-4 {
    width: 7%;
}
.event-column-5 {
    width: 7%;
}

.event-column-6 {
    width: 16%;
}

.event-column-7 {
    width: 16%;
}
.event-column-8 {
    width: 30px;
}
#event-outer {
    border-collapse: collapse;
}

#event-table tr {
    height: 23px;
    max-height: 23px;
}

#event-table tr td {
    padding-left: 2px;
    font-size: 12px;
    font-weight: normal;
    background-color: #fff;
    color: #222;
    border: 1px solid #c5dbec;
}