.iob-font,
.iob-font-12,
.iob-list-font,
.new-iob-list-table,
table#log-outer,
.instance-table,
thead#grid-instances-head,
.hosts-table,
div.iob-pager,
#dialog-system table,
#iob-body .ui-button-text-only,
#iob-body .ui-button-text,
table.fancytree-ext-table > tbody > tr > td,
.iob-list-table,
.main-header-table,
.objects-list-table,
table#grid-states,
table#grid-states > tbody > tr,
table#grid-groups,
table#grid-groups > tbody > tr,
table#grid-users,
table#grid-users > tbody > tr,
table#grid-enums,
table#grid-enums > tbody > tr {
  font-family: "Segoe UI", Tahoma, Arial, "Courier New" !important;
  font-weight: normal;
}
.iob-font-12,
.main-header-table {
  font-size: 0.82rem !important;
}
.iob-list-font,
table.fancytree-ext-table > tbody > tr > td,
.iob-list-table,
table#grid-states,
table#grid-states > tbody > tr,
table#grid-groups,
table#grid-groups > tbody > tr,
table#grid-users,
table#grid-users > tbody > tr,
table#grid-enums,
table#grid-enums > tbody > tr {
  font-size: 0.82rem !important;
}
table.iob-list-table > thead > tr > th {
  background: #fff;
  color: #000;
  text-align: left;
  font-weight: normal;
  padding-left: 5px !important;
  height: 22px;
}
.new-iob-list-table,
.objects-list-table {
  font-size: 0.82rem !important;
  background: #efefef !important;
  white-space: nowrap;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
  overflow: auto;
  border-top: 0 !important;
}
.toolbar-frame {
  height: 24px;
  margin-top: 3px;
  margin-bottom: 8px;
}
.line-indent {
  padding-left: 5px !important;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited,
.ui-state-hover a,
.ui-state-hover a:link,
.ui-state-hover a:visited {
  outline: none;
}
.ui-jqgrid tr.jqgrow td {
  font-size: 0.82rem;
}
.ui-jqgrid .ui-pg-input {
  height: 20px !important;
}
.header {
  height: 29px;
  line-height: 29px;
  font-size: 16px;
  margin-left: 5px !important;
  margin-right: 6px !important;
}
.ui-tabs-nav {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}
/** tabs **/
/**/
.ui-tabs-panel {
  border: none;
  padding: 7px !important;
  padding-top: 5px !important;
}
.ui-jqgrid-titlebar-close {
  display: none !important;
}
/**/
.menu-button {
  float: right;
  height: 26px;
  margin: 4px 2px 1px 2px;
}
#button-logout {
  background-image: url('../img/logout.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5px 2px;
}
.customs-row-title {
  width: 100%;
  /*    font-weight: bold;*/
  cursor: pointer;
  margin-top: 8px;
}
.customs-row-title-expanded:before {
  content: '▲';
  padding: 3px;
}
.customs-row-title-collapsed:before {
  content: '▼';
  padding: 3px;
}
.customs-row-title-settings {
  font-weight: normal;
  padding-left: 5px;
}
.customs-row-title-icon {
  padding-top: 3px;
}
.customs-settings {
  width: 100%;
  border: 1px solid gray;
  padding-bottom: 15px;
}
.plannedBg,
.planned {
  background-color: rgba(255, 0, 0, 0.1);
}
.planned {
  /*background-color: rgba(255,0,0,0.1);*/
  width: 100%;
  display: block;
}
.alphaBg,
.alpha {
  background-color: rgba(255, 127, 0, 0.1);
}
.alpha {
  width: 100%;
  display: block;
}
.betaBg,
.beta {
  background-color: rgba(255, 255, 0, 0.1);
}
.beta {
  width: 100%;
  display: block;
}
.stableBg,
.stable {
  background-color: rgba(0, 255, 0, 0.1);
}
.stable {
  width: 100%;
  display: block;
}
.errorLog {
  font-weight: bold;
  color: red !important;
}
.updateReady {
  font-weight: bold;
  color: #06960E !important;
}
.custom-enabled {
  background: #97bfff !important;
}
.high-mem {
  color: #FF9999;
}
@keyframes highlight {
  0% {
    color: #00f900;
  }
  80% {
    color: green;
  }
  100% {
    color: black;
  }
}
.wait-rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
.icon-large {
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.75);
  background: white;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  overflow: hidden;
}
.icon-large img {
  width: 12em;
  height: 12em;
}
.select-id-quick-edit:hover {
  cursor: text;
}
.icon-github {
  background-image: url(../img/github.svg) !important;
  background-repeat: no-repeat !important;
  background-position: 5px 5px !important;
}
.ui-button-icon-only {
  width: 1.8em;
  height: 1.8em;
}
.ui-state-active {
  /*background: #800000 !important;*/
  background: none;
}
.fancytree-node.ui-state-active {
  background: inherit !important;
  border: 0;
  margin: 0;
  padding: 0;
}
.iob-list-icon,
.instance-image {
  width: 18px;
  height: 18px;
}
table.fancytree-ext-table > tbody > tr > td,
.iob-list-table {
  border: 1px solid #e0e0e0 !important;
  border-top: 0 !important;
  /*xxx*/
  white-space: nowrap;
}
table.fancytree-ext-table > thead > tr {
  /*border: 1px solid #D8D8D8 !important;*/
  border: 0 !important;
  background: #fff !important;
}
table.fancytree-ext-table > tbody > tr > td > table {
  height: 100% !important;
}
table.fancytree-ext-table > tbody > tr > td > table > tbody > tr > td {
  border: 0;
}
.iob-list-table {
  border: 0;
  font-size: 0.82rem !important;
  font-weight: normal !important;
}
table.iob-list-table > tbody > tr {
  height: 25px;
}
.panel-table {
  width: 100%;
  padding: 0;
  border-spacing: 0;
  height: 30px;
}
table.panel-table > tbody > tr > td {
  padding: 0;
  margin: 0;
}
.toolbar-button {
  width: 24px !important;
  height: 24px !important;
  border: 1px solid #c0c0c0;
  padding: 0;
  margin: 0;
}
.toolbar-button-bg {
  width: 24px !important;
  height: 24px !important;
  border: 1px solid #c0c0c0;
  padding: 0;
  margin: 0;
  background: #fff;
}
.main-toolbar-table {
  height: 24px;
  margin-top: 3px;
  margin-bottom: 8px;
  width: 100%;
  padding: 0;
  border-spacing: 2px 0;
  position: relative;
  left: -2px;
}
table.main-toolbar-table > tbody > tr {
  white-space: nowrap;
}
table.main-toolbar-table > tbody > tr > td:not(:first-child):last-child {
  width: auto !important;
  text-align: right;
  white-space: nowrap;
  font-size: 0.75rem;
  font-weight: normal;
}
table.main-toolbar-table > tbody > tr > td > button {
  width: 24px !important;
  height: 24px !important;
  border: 1px solid #c0c0c0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
table.main-toolbar-table > tbody > tr > td > button:hover {
  width: 24px !important;
  height: 24px !important;
  border: 1px solid #c0c0c0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
table.main-toolbar-table > tbody > tr > td {
  border: 1px solid transparent;
  padding: 0;
  width: 24px !important;
  height: 24px !important;
  padding-left: 0 !important;
}
table.main-toolbar-table > tbody > tr > td:hover {
  border: 1px solid #d0d0d0;
}
table.main-toolbar-table > tbody > tr > td:not(:first-child):last-child:hover {
  border: 1px solid transparent;
}
table.main-toolbar-table > tr > td {
  padding: 10px !important;
}
table.instance-table > thead > tr {
  background: #fff !important;
  color: #000;
  text-align: left;
  font-weight: normal !important;
}
table.instance-table > thead > tr > th {
  font-weight: normal;
}
/* column filter header table ***************/
.main-header-table {
  border-spacing: 0;
  height: 24px;
  border-collapse: collapse;
  margin-left: 1px;
  width: calc(100% - 4px);
  background: #fff;
}
table.main-header-table > tbody > tr,
table.main-header-table > thead > tr {
  height: 23px !important;
  margin-top: 1px;
}
table.main-header-table > tbody > tr > td,
table.main-header-table > thead > tr > td,
table.main-header-table > thead > tr > th {
  padding: 0 !important;
  border: 1px solid #c0c0c0 !important;
}
.ui-jqgrid-btable > tbody > tr > td {
  padding-left: 5px !important;
}
.main-header-input-table,
.panel-input-table {
  width: 100%;
  height: 100%;
  padding: 0;
  border-spacing: 0;
  border-radius: 2px;
  font-family: "Segoe UI", Tahoma, Arial, "Courier New" !important;
  font-size: 0.82rem;
}
.main-header-input-table > tbody > tr {
  background: #fff;
}
table.main-header-input-table > tbody > tr > td {
  vertical-align: middle;
  border: 0;
  padding: 0;
  /*?*/
  width: 100%;
}
table.main-header-input-table > tbody > tr > td > input:hover,
table.main-header-input-table > tbody > tr > td > select:hover {
  width: calc(100% - 0px);
  outline: 1px solid #d0d0d0;
  outline-offset: -1px;
}
table.main-header-input-table > tbody > tr > td > select:hover {
  width: calc(100% - 0px);
  background-position-x: calc(100% - 4px);
}
table.main-header-input-table > tbody > tr > td > button {
  width: 18px;
  height: 18px;
  margin-top: 2px;
  border: 0 !important;
  background: #fff !important;
  display: none;
}
table.main-header-input-table > tbody > tr.filter-active > td > button {
  display: unset;
}
table.main-header-input-table > tbody > tr.filter-active > td > input,
table.main-header-input-table > tbody > tr.filter-active > td > select,
table.main-header-input-table > tbody > tr.filter-active,
.input-not-empty {
  background-color: #ffbfb6 !important;
}
table.main-header-input-table > tbody > tr > td > select > option {
  padding: 0;
  margin: 0;
}
table.main-header-input-table > tbody > tr > td > select,
table.main-header-input-table > tbody > tr > td > input,
table.main-header-input-table > tbody > tr > td > span {
  font-family: "Segoe UI", Tahoma, Arial, "Courier New" !important;
  font-size: 0.82rem;
  padding: 0;
  border: 0;
  height: 22px !important;
}
table.main-header-input-table > tbody > tr > td > input,
table.main-header-input-table > tbody > tr > td > span {
  padding-left: 5px;
}
table.main-header-input-table > tbody > tr > td > span {
  cursor: default;
}
table.main-header-input-table > tbody > tr > td > select {
  cursor: pointer;
}
#grid-instances-head > tr:first-child {
  cursor: default;
}
table.main-header-input-table > tbody > tr > td > select {
  line-height: 22px;
  /*width: calc(~'100% + 1px');*/
  width: calc(100% - 1px);
}
table.main-header-input-table > tbody > tr > td > input {
  width: calc(100% - 1px);
  line-height: 1.5em;
}
table.main-header-input-table > tbody > tr > td.ui-search-input > input {
  top: unset !important;
}
#gview_grid-states table.main-header-input-table > tbody > tr > td.ui-search-clear > a {
  top: 3px !important;
}
/** main-header-input-table end **/
/*******************************************/
.panel-input-table {
  width: auto;
  height: 20px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #c0c0c0;
}
.panel-input-table:hover {
  border: 1px solid #c0c0c0;
}
.panel-button {
  width: 24px !important;
  height: 24px;
  border: 0;
  /*?*/
  margin: 0;
  /*?*/
}
.toolbar-icon-text-button {
  width: 100% !important;
  padding-left: 20px !important;
  font-size: 12px;
  vertical-align: middle;
  padding-top: 3px !important;
  padding-right: 5px !important;
}
.list-column-header-filter {
  font-size: 0.82rem;
  line-height: 1.5em;
  width: 100%;
  padding: 0;
  border: 0;
}
.ui-widget-content {
  background: #efefef;
}
.td-button-width,
.td-button,
.clippy-button,
.td-button-placeholder {
  width: 20px !important;
}
.td-button-placeholder {
  height: 1px;
  display: inline-block;
}
.td-button,
.clippy-button {
  height: 20px;
  margin: 0;
  position: relative;
  bottom: 1px;
  z-index: 1;
}
.toolbar-button-table {
  width: 100%;
  padding: 0;
  height: 30px;
}
.fancytree-title {
  padding-left: 5px !important;
  display: inline-flex !important;
  align-items: center;
}
.iob-list-font > tbody > tr > td > span {
  display: inline-flex;
  align-items: center;
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* or try 50% */
}
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: unset;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: unset;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: unset;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: unset;
}
.ui-corner-all {
  border: unset;
}
.fancytree-title {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  border: 0 !important;
}
table.iob-list-font > tbody > tr {
  height: 25px !important;
}
table.iob-list-font > tbody > tr > td > table > tbody > tr:hover {
  outline: none !important;
}
#inhalte-werden-zentriert {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iob-ellipsis {
  width: calc(100% -  5px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.objects-list-table .iob-ellipsis {
  padding-left: 5px;
  padding-right: 5px;
}
.main-toolbar-table > tbody > tr > td.iob-toolbar-sep {
  width: 4px !important;
  visibility: hidden;
}
.main-toolbar-table > tbody > tr > td.select-id-custom-buttons {
  width: 4px !important;
  visibility: hidden;
}
span.dark-blue {
  color: #009;
}
span.dark-green {
  color: #090;
}
div#dialog-select-member > div:first-child {
  height: calc(100% - 45px) !important;
}
.main-header-input-table select {
  padding-left: 5px !important;
  font-size: 16px;
  line-height: 22px;
  background: url("../img/arrow-down-10x10.png") no-repeat right #fff;
  -webkit-appearance: none;
  background-position-x: calc(100% - 3px);
  background-size: 10px;
}
span.select-id-cnt {
  position: absolute;
  top: 6px;
  right: 5px;
  font-size: smaller;
  color: lightslategray;
}
#grid-history {
  font-size: small;
}
.grid-history-odd {
  background: #eee;
}
.true {
  color: #06960E;
  font-weight: bold;
}
.false {
  color: #D92626;
  font-weight: normal;
}
.error {
  color: #D92626;
  font-weight: normal;
}
.highlight {
  animation: highlight 2s;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#drop-zone {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
  background: #eee;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 1;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.dropZone-error {
  background: #faa !important;
  color: #f00;
}
.objects-folder {
  height: 0.8em;
  width: 0.8em;
  margin: 0.3em;
}
.objects-name-coll-table-td {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.objects-name-coll-icon {
  /*position: relative;*/
  /*top: 3px;*/
  vertical-align: sub;
}
.objects-name-coll-title {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle;
}
.objects-inline-edit {
  width: 100%;
  height: 24px;
  border: 0;
  padding: 0;
  margin: 0;
  padding-left: 4px;
}
table.objects-list-table td {
  border: 1px solid #e0e0e0;
}
.objects-list-table {
  width: calc(100% - 10px);
  margin-left: 1px;
  /* for mouse over rahmen */
  margin-right: 5px;
  outline: 5px;
  outline-offset: -1px;
  border-collapse: collapse;
  padding: 0;
  table-layout: fixed;
  overflow: auto;
  white-space: nowrap;
}
.objects-list-table > tbody > tr > td {
  padding-left: 5px;
}
.objects-list-table .fancytree-title {
  font-weight: normal !important;
}
/** inline edit **/
/**/
.select-id-quick-edit-ok,
.select-id-quick-edit-cancel {
  right: 22px;
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  border-radius: 0;
  vertical-align: middle;
  z-index: 3;
}
.select-id-quick-edit-cancel {
  right: 6px;
}
select ~ .select-id-quick-edit-ok,
select ~ .select-id-quick-edit-cancel {
  top: 1px;
}
.objects-inline-edit {
  position: relative;
  left: -4px;
  padding-left: 4px;
  padding-right: 4px;
  width: calc(100% - 0px);
  z-index: 2;
  font-family: "Segoe UI", Tahoma, Arial, "Courier New" !important;
  font-size: 0.82rem;
  vertical-align: middle;
  text-overflow-mode: clip;
}
.objects-name-coll-title .objects-inline-edit {
  width: calc(100% +  3px);
}
input.objects-inline-edit {
  width: calc(100% - 2px);
  z-index: 2;
}
.objects-list-table > colgroup > col:nth-child(8) {
  width: 80px !important;
  min-width: 80px !important;
}
.grid-objects-head,
.grid-objects-head tr.ui-widget-header th {
  line-height: 1.6em !important;
  background-color: #e0e0e0;
  text-align: left;
  color: #000;
  font-size: 0.82rem !important;
}
body {
  font-size: 12px;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Arial, "Courier New" !important;
  font-weight: normal;
}
#event-clear {
  font-family: "Segoe UI", Tahoma, Arial, "Courier New" !important;
  font-weight: normal;
}
table#events {
  font-size: 12px;
}
#tabs {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
#edit-object-common,
#edit-object-native {
  font-size: 12px;
  width: 100%;
  height: 240px;
  padding: 0;
  margin: 0;
  border: 1px solid grey;
  outline: none;
  box-shadow: none;
  resize: none;
}
#view-object-full {
  font-size: 12px;
  width: 100%;
  height: 200px;
  padding: 0;
  margin: 0;
  border: 1px solid grey;
  outline: none;
  box-shadow: none;
  resize: none;
}
/** log tab *****************/
/**/
.log-column-1-header {
  width: 100px;
}
.log-column-2-header {
  width: 170px;
}
.log-column-3-header {
  width: 62px;
}
.log-severity-debug {
  color: #808080;
}
.log-severity-info {
  color: black;
  /*background-color: #0ca3d2;*/
}
.log-severity-warn {
  color: #ce9900;
}
.log-severity-error {
  color: red;
}
#log-table tr:nth-child(even) {
  /*background: #efefef;*/
  background-color: #e9e9e9;
}
table#log-outer {
  font-size: 0.82rem !important;
  background: #efefef !important;
  white-space: nowrap;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
  overflow: auto;
  text-align: left;
  margin-top: -3px !important;
  margin-left: 1px;
}
#log-outer > thead > tr > th {
  height: 0 !important;
  padding: 0;
  border: 0;
}
#log-table > tr {
  height: 24px;
}
#log-table > tr > td {
  text-align: left !important;
  padding-left: 5px !important;
  border: 1px solid #e0e0e0;
}
#log-table > tr > td:first-child {
  color: #0000a0;
}
/**/
/** instances tab *****************/
/**/
.instance-odd,
.hosts-odd {
  /*background-color: #c1c1c1;*/
  height: 2em;
}
.instance-even,
.hosts-even {
  background-color: #e9e9e9;
  height: 2em;
}
.instance-table {
  font-size: 0.82rem !important;
  background: #efefef !important;
  white-space: nowrap;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
  overflow: auto;
  border-top: 0 !important;
  font-size: 0.9em;
}
table.instance-table > tbody > tr {
  height: 27px !important;
  border: 0;
}
table.instance-table > tbody > tr > td {
  padding: 0;
}
.instance-table th,
.instance-table td,
.hosts-table tr,
.hosts-table td {
  border: 1px solid #e0e0e0;
}
.instance-table > tbody > tr > td > b {
  font-weight: normal;
  color: #008;
}
.instance-table th,
.objects-th {
  padding-left: 5px;
}
.instance-table tr,
.instance-table td,
.hosts-table tr,
.hosts-table td {
  border: 1px solid #e0e0e0;
  padding-left: 0;
}
.instance-state-hover {
  border: 1px solid #66b6d6;
  border-radius: 0.3em;
  padding: 0.5em;
  shadow-box: 1em 1em;
  position: absolute;
  z-index: 100;
  background-color: rgba(145, 220, 255, 0.95);
}
.instance-schedule-button {
  font-size: 10px !important;
  width: 16px;
  height: 16px;
  float: right;
  padding: 0;
}
.instance-schedule-button span {
  padding: 0 !important;
}
button.instance-stop-run {
  width: 26px;
  height: 26px;
  display: inline-block;
  background-color: lightgreen;
}
/*
tr.instance-adapter>td>button>span.ui-icon-pause {    ///xxx
    //background: #88f !important;
    background-color: rgba(0, 255, 0, 0.1) !important;
}
tr.instance-adapter>td>button>span.ui-icon-play {
    //background: #8ff !important;
    background-color: rgba(255, 0, 0, 0.1) !important;
}
*/
button.instance-settings,
button.instance-reload,
button.instance-del,
button.instance-web {
  width: 2em;
  height: 2em;
}
.instance-image {
  /*height: 16px !important;*/
  margin: 0.3em;
  /*width: 16px !important;*/
}
thead#grid-instances-head {
  line-height: 1.6em;
}
thead#grid-instances-head {
  line-height: 1.6em !important;
  background-color: #e0e0e0;
  text-align: left;
  color: #000;
  font-size: 0.82rem !important;
}
/** instances end **/
/** hosts tab **********************/
/**/
.hosts-table {
  font-size: 0.82rem !important;
  background: #efefef !important;
  white-space: nowrap;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
  overflow: auto;
  border-top: 0 !important;
  font-size: 0.9em;
}
.hosts-table td {
  padding-left: 5px;
}
/* -------------------------- LEDS ------------------------------------ */
.led-all,
.led-green,
.led-yellow,
.led-gray,
.led-red,
.led-orange,
.led-blue {
  border-radius: 50%;
  box-shadow: #555D0D 0px 0px 1px 1px, #446f44 0 0px 0px, inset #e44949 0 0px 0px;
  height: 0.9em !important;
  width: 0.9em !important;
  margin-left: 0.6em !important;
}
.led-red {
  background-color: #FF9999;
}
.led-green {
  background-color: #86d686;
}
.led-yellow {
  background-color: #A90;
}
.led-orange {
  background-color: #F7E43B;
}
.led-blue {
  background-color: #4AB;
}
.led-gray {
  background-color: #bababa;
}
/****/
/** events tab ******************/
/**/
.th-0 {
  height: 0 !important;
  padding: 0;
  border: 0;
}
#event-outer {
  border-collapse: collapse;
}
#event-outer > thead > tr,
#event-outer > thead > tr > th {
  height: 0 !important;
  padding: 0;
  border: 0;
}
#events_threshold {
  position: fixed;
  top: 8px;
  left: calc(100% - 300px);
  height: 18px;
  background: #ff9999;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-family: Arial;
  width: 150px;
  padding-top: 4px;
  cursor: pointer;
}
.events-list-table {
  border: 0;
  overflow: auto;
  font-size: 0.82rem !important;
  font-weight: normal !important;
  color: #000 !important;
  width: calc(100% - 1px);
  margin-left: 1px;
  /* for mouse over rahmen */
  background: #efefef !important;
}
table.events-list-table > tbody > tr {
  height: 25px;
}
table.events-list-table > tbody > tr > td {
  padding: 0;
  margin: 0;
  padding-left: 5px;
  border: 1px solid #e0e0e0;
}
#grid-events-inner {
  height: calc(100% - 60px);
  width: 100%;
  overflow-y: scroll;
}
/** events ends **/
/** adapters tab ********************/
/**/
#tab-adapters table.main-toolbar-table {
  left: -2px;
}
.adapters-filter-input {
  display: inline-table;
  padding-left: 6px;
  background: #fff;
  border: 1px solid #fff;
  margin-left: 20px;
  font-size: 14px;
}
#grid-adapters,
.adapters-list-table {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  table-layout: fixed;
  overflow: auto;
  white-space: nowrap;
  border-top: 0 !important;
  font-family: "Segoe UI", Tahoma, Arial, "Courier New" !important;
}
#grid-adapters .fancytree-title {
  padding-left: 5px !important;
  display: inline-flex;
  align-items: center;
}
#grid-adapters > thead > tr {
  height: 22px !important;
  background-color: #fff;
  line-height: 20px;
}
#grid-adapters > thead > tr > th {
  background-color: #fff;
  color: #000;
  text-align: left;
  font-weight: normal;
  font-size: 0.82rem;
  padding-left: 5px;
  vertical-align: middle;
}
#grid-adapters > tbody > tr > td {
  padding: 0;
  border: 0;
  margin: 0;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}
#grid-adapters > tbody > tr > td > span,
#grid-adapters > tbody > tr > td > div {
  padding: 0;
  border: 0;
}
#grid-adapters > thead > tr {
  cursor: default;
}
#grid-adapters .adapter-table-icon {
  width: 18px;
  height: 18px;
}
/** adapters end **/
.main-admin-buttons {
  border-spacing: 4px;
  width: auto;
  position: relative;
  height: 27px;
  margin-top: 1px;
}
.tabs-ul,
#tabs-ul {
  font-family: "Segoe UI", Tahoma, Arial, "Courier New" !important;
  font-weight: normal;
  overflow: hidden;
  font-size: 14px !important;
  height: 34px;
  background: #5f5d5d;
  font-weight: normal !important;
  position: relative;
  display: flex;
  padding: 0 !important;
}
.choose-tabs-config-button,
.tabs-ul-li,
#tabs-ul > li {
  border: 0;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-top: 2px solid transparent;
  height: 31px;
}
.tabs-ul > li {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border-bottom: 1px solid #e0e0e0 !important;
  border-right: 1px solid #e0e0e0 !important;
  border-top: 2px solid transparent !important;
  height: 31px !important;
}
.tabs-ul li.ui-state-active,
#tabs-ul li.ui-state-active {
  border-right: 1px solid #d0d0d0;
  height: 100% !important;
  border-bottom: 3px solid #efefef;
  border-top: 2px solid #384bdd;
}
.tabs-ul li a,
#tabs-ul li a {
  height: 26px;
  font-weight: normal !important;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 0;
}
.tabs-ul li a,
#tabs-ul li a {
  /* height: fit-content; */
  height: 26px;
  font-weight: normal !important;
  margin: 0;
  /* margin-bottom: 10px !important; */
  /* top: -1; */
  /* position: relative; */
  /* padding-bottom: 1px; */
}
.tabs-ul li.ui-state-active a,
#tabs-ul li.ui-state-active a {
  color: #000;
  font-weight: normal !important;
  background-color: #efefef;
}
.tabs-ul li a:hover,
#tabs-ul li a:hover {
  color: #606060;
}
/** ul end **/
.ram-info-td {
  white-space: nowrap;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Arial, "Courier New" !important;
  font-weight: normal;
}
.ram-font-weight {
  font-weight: 600;
}
.choose-tabs-config-button {
  height: 34px;
  width: 18px;
  background: #fff;
  position: relative;
  text-align: center;
  font-size: 10px;
  color: #a0a0a0;
  cursor: pointer;
}
.events-grid-div {
  height: calc(100% - 24px) !important;
}
table#grid-states {
  border-collapse: collapse;
}
table#grid-states {
  position: relative;
  top: -1px;
}
table#grid-states > tbody > tr {
  border: 1px solid #e0e0e0 !important;
  border-top: 0 !important;
  /*xxx*/
  white-space: nowrap;
  border: 0;
  font-size: 0.82rem !important;
  font-weight: normal !important;
  height: 25px !important;
  padding: 0;
  padding-left: 5px;
}
table#grid-states > tbody > tr:first-child {
  height: 0 !important;
  visibility: hidden !important;
}
table#grid-groups {
  border-collapse: collapse;
}
table#grid-groups {
  position: relative;
  top: -1px;
}
table#grid-groups > tbody > tr {
  border: 1px solid #e0e0e0 !important;
  border-top: 0 !important;
  /*xxx*/
  white-space: nowrap;
  border: 0;
  font-size: 0.82rem !important;
  font-weight: normal !important;
  height: 25px !important;
  padding: 0;
  padding-left: 5px;
}
table#grid-groups > tbody > tr:first-child {
  height: 0 !important;
  visibility: hidden !important;
}
table#grid-users {
  border-collapse: collapse;
}
table#grid-users {
  position: relative;
  top: -1px;
}
table#grid-users > tbody > tr {
  border: 1px solid #e0e0e0 !important;
  border-top: 0 !important;
  /*xxx*/
  white-space: nowrap;
  border: 0;
  font-size: 0.82rem !important;
  font-weight: normal !important;
  height: 25px !important;
  padding: 0;
  padding-left: 5px;
}
table#grid-users > tbody > tr:first-child {
  height: 0 !important;
  visibility: hidden !important;
}
table#grid-enums {
  border-collapse: collapse;
}
table#grid-enums {
  position: relative;
  top: -1px;
}
table#grid-enums > tbody > tr {
  border: 1px solid #e0e0e0 !important;
  border-top: 0 !important;
  /*xxx*/
  white-space: nowrap;
  border: 0;
  font-size: 0.82rem !important;
  font-weight: normal !important;
  height: 25px !important;
  padding: 0;
  padding-left: 5px;
}
table#grid-enums > tbody > tr:first-child {
  height: 0 !important;
  visibility: hidden !important;
}
/** log tab *******************************/
/**/
.log-pause-button-active {
  font-size: 14px;
  width: 100% !important;
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.log-pause-button-active:focus {
  background: #fff !important;
}
.log-pause-button-active > span {
  padding: 0 !important;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
}
/** log end **/
.admin-tab {
  height: calc(100% - 47px);
}
.grid-main-div {
  height: calc(100% - 50px);
}
.grid-main-wh-div {
  height: calc(100% -  73px);
}
.grid-main-wob-div {
  height: calc(100% -  12px);
}
#gbox_grid-groups,
#gbox_grid-users,
#gbox_grid-states {
  height: calc(100% - 40px);
  position: relative;
  left: 1px;
  top: 37px;
}
.pager-left > table {
  height: 24px !important;
  margin-top: 3px !important;
  margin-bottom: 8px !important;
  width: 100% !important;
  padding: 0 !important;
  border-spacing: 2px 0 !important;
  position: relative !important;
  left: -2px !important;
  background: transparent !important;
}
.pager-left > table > tbody > tr > td {
  border: 1px solid transparent;
  cursor: pointer;
}
.pager-left > table > tbody > tr > td > div {
  width: 24px !important;
  height: 24px !important;
  border: 1px solid #c0c0c0;
  padding: 0;
  margin: 0;
  width: 22px !important;
  height: 22px !important;
  background: #fff;
}
.pager-left > table > tbody > tr > td > div > span {
  width: 16px;
  height: 16px;
  margin: 3px !important;
}
div.iob-pager {
  height: 37px !important;
  background: transparent !important;
  position: absolute !important;
  top: -37px;
  left: -1px;
  font-size: 0.75em !important;
  white-space: nowrap;
  overflow: hidden;
  border: 0 !important;
  padding: 0;
  font-size: 0.82rem !important;
}
.pager-center {
  width: auto;
  text-align: left;
}
.pager-center > table {
  background: transparent;
  width: 400px;
  border-spacing: 2.9px;
  font-size: 12px;
  margin-left: 4px;
}
.pager-center > table > tr {
  height: 26px;
}
.pager-center > table > tbody > tr > td {
  height: 24px;
  width: 24px;
  padding: 0;
  background: #fff;
  border: 1px solid #efefef !important;
  position: relative;
  top: -1px;
  outline: 1px solid #c0c0c0;
  outline-offset: -2px;
}
.pager-center > table > tbody > tr > td:hover {
  border: 1px solid #d0d0d0 !important;
}
.pager-center > table > tbody > tr > td > span {
  width: 16px;
  height: 16px;
  margin: 4px !important;
  padding: 0;
}
.pager-center > table > tbody > tr > td:nth-child(3),
.pager-center > table > tbody > tr > td:nth-child(5) {
  display: none;
}
.pager-center > table > tbody > tr > td:nth-child(4) {
  padding-left: 5px !important;
  padding-top: 3px !important;
  width: auto;
}
.pager-center > table > tbody > tr > td:nth-child(8) > select {
  border: 0;
  font-size: 12px;
  width: auto;
  height: 100%;
}
.pager-center > table > tbody > tr > td > input {
  padding-left: 6px;
  border: 1px solid #e6e6e6;
  font-size: 0.75em;
  width: auto;
  height: 18px !important;
  background: #fffafa;
  position: relative;
  top: -1px;
}
.pager-right {
  font-size: 0.75em;
  position: relative;
  top: 2px;
}
#grid-instances-head > tr {
  height: 24px;
}
#grid-hosts-head > tr:first-child {
  height: 24px;
}
table#grid-users,
table#grid-states,
table#grid-groups {
  width: unset !important;
}
#dialog-system table {
  font-size: 0.82rem !important;
}
#iob-body .ui-button-text-only,
#iob-body .ui-button-text {
  font-size: 0.82rem !important;
}
#dialog-system ul {
  background: #efefef !important;
}
