/* -- Google typography ------------------------------- */
.tiles {
    width: calc(100% - 20px);
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 0;
    background-color: #fff;
    color: #444;
    font-family: "Segoe UI", Tahoma, Arial, "Courier New";
}
.tiles .tile{
    margin: 0.3rem;
    padding: 1rem;
    background-color: #fff;
    font-size: 150%;
    position: relative;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    max-height: 200px;
}
.tiles .tile .icon {
    width: 5rem;
    height: 5rem;
    display: inline;
    float: left;
    padding-right: 0.4rem;
}
.tiles .tile .title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1rem;
}
.tiles .tile .buttons {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}
.tiles .tile .desc {
    display: inline;
    font-size: 1rem;
}